{
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "prettier",
        "prettier/react"
    ],
    "plugins": ["react", "prettier", "import"],
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "jquery": true,
        "jest": true
    },
    "parserOptions": {
        "modules": true,
        "arrowFunctions": true,
        "classes": true,
        "ecmaVersion": 9,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx"]
            }
        }
    },
    "rules": {
        "comma-dangle": 0,
        "object-curly-spacing": ["error", "always"],
        "require-jsdoc": 0,
        "arrow-parens": 0,
        "max-len": 0,
        "no-invalid-this": 0,
        "quote-props": [1, "as-needed"],
        "quotes": [
            "error",
            "single",
            {
                "avoidEscape": true
            }
        ],
        "no-console": 1,
        "no-debugger": 1,
        "no-var": 1,
        "no-trailing-spaces": 0,
        "eol-last": 0,
        "no-underscore-dangle": 0,
        "no-alert": 0,
        "no-lone-blocks": 0,
        "no-const-assign": "warn",
        "no-useless-constructor": "warn",
        "no-unreachable": "warn",
        "no-use-before-define": 0,
        "no-param-reassign": 0,
        "constructor-super": "warn",
        "no-unused-vars": "error",
        "react/display-name": [
            1,
            {
                "ignoreTranspilerName": false
            }
        ],
        "react/forbid-prop-types": [
            1,
            {
                "forbid": ["any"]
            }
        ],
        "react/jsx-boolean-value": 0,
        "react/jsx-closing-bracket-location": 0,
        "react/jsx-indent-props": 0,
        "react/jsx-key": 1,
        "react/jsx-max-props-per-line": 0,
        "react/jsx-no-bind": 0,
        "react/jsx-no-duplicate-props": 1,
        "react/jsx-no-literals": 0,
        "react/jsx-no-undef": 1,
        "react/jsx-pascal-case": 1,
        "react/jsx-sort-prop-types": 0,
        "react/jsx-sort-props": 0,
        "react/jsx-uses-react": 1,
        "react/jsx-uses-vars": 1,
        "react/jsx-filename-extension": 0,
        "react/no-danger": 1,
        "react/no-did-mount-set-state": 1,
        "react/no-did-update-set-state": 1,
        "react/no-direct-mutation-state": 1,
        "react/no-multi-comp": 1,
        "react/no-set-state": 0,
        "react/no-unknown-property": 1,
        "react/prefer-es6-class": 1,
        "react/prop-types": 1,
        "react/react-in-jsx-scope": 1,
        "react/self-closing-comp": 1,
        "react/sort-comp": 1,
        "import/no-unresolved": [
            2,
            {
                "commonjs": true,
                "amd": true
            }
        ],
        "import/named": 2,
        "import/default": 2
    }
}
